AndroidApp/*.iml
AndroidApp/.gradle/
AndroidApp/local.properties
AndroidApp/.idea/
AndroidApp/.DS_Store
AndroidApp/build/
AndroidApp/captures/
AndroidApp/.externalNativeBuild/
AndroidApp/.cxx/
AndroidApp/local.properties

Adapter/.idea/
Adapter/certs/
Adapter/SDCAdapter/certs/
Adapter/FhirBackend/certs/
Adapter/mosquitto/data/
Adapter/mosquitto/log/
Adapter/mosquitto/config/mosquitto.conf
Adapter/FhirBackend/build/
Adapter/SDCAdapter/build/
Adapter/*.log
Adapter/*.tmp
Adapter/.DS_Store
Adapter/*~
Adapter/*.pid

